*{
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: "Indie Flower", monospace;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.4);
	padding: 20px;
}

.intro{
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
}
body{
	color: #dad3db;
	background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(pics/17.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding-top: 30px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: #dad3db;
	border-radius: 1%;
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 40px;
	letter-spacing: 1px;
	padding: 1px;
}

.box h2{
	padding: 0px;
}

.box h5{
	font-size: 20px;
	font-weight: 100;
	padding: 5px;
}

.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: #dad3db;
	text-decoration: none;
	font-size: 30px;
}

p{
	padding: 2px;
	padding-bottom: 2px;
}

ul{
	margin: 0;
	padding: 0;
}

.example::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000B0E #000400;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

/* Add animation to "page content" */
/*.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:0.5 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:0.5 }
}
*/
#myDiv {
  display: none;
  text-align: center;
}

div {
  padding: 20px;
  border-opacity:0.5;
}

.box {
    -webkit-animation: mover 5s infinite  alternate;
    animation: mover 5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.boxleft{
	float:left;
	width: 250px;
}
.boxleft{
	background: rgba(0, 0, 0, 0.4);
	padding-top: 30px;
	text-align: center;
	margin: auto;
	margin-top: 6%;
	margin-left: 5%;
	color: #dad3db;
	border-radius: 1%;
	-webkit-animation: mover 5s infinite  alternate;
    animation: mover 5s infinite  alternate;

}

.boxleft-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.boxleft h1{
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: 100;
	padding: 1px;
}

.boxleft h2{
	padding: 0px;
}

.boxleft h5{
	font-size: 20px;
	font-weight: 100;
	padding: 5px;
}

.boxleft li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.boxleft li a{
	color: #dad3db;
	text-decoration: none;
	font-size: 30px;
}




.boxright {
    -webkit-animation: mover 5s infinite  alternate;
    animation: mover 5s infinite  alternate;
}

.boxright{
	float:right;
	width: 250px;
}
.boxright{
	background: rgba(0, 0, 0, 0.4);
	padding-top: 30px;
	text-align: center;
	margin: auto;
	margin-top: 6%;
	margin-right: 5%;
	color: #dad3db;
	border-radius: 1%;
}

.boxright-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.boxright h1{
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: 100;
	padding: 1px;
}

.boxright h2{
	padding: 0px;
}

.boxright h5{
	font-size: 20px;
	font-weight: 100;
	padding: 5px;
}

.boxright li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.boxright li a{
	color: #dad3db;
	text-decoration: none;
	font-size: 30px;
}
.boxright {
    -webkit-animation: mover 5s infinite  alternate;
    animation: mover 5s infinite  alternate;
}
