*{
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}
.container{
	max-width: 960px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.4);
	padding: 20px;
}

.parallax{
	background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url('tloz.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
}

body{
	color: #dad3db;
	background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(bg.gif);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.banner{
	width: 100%
	height: 100%;
	background-size: cover;
	background-position: center;
}

.navbar{
	width: 96%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 120px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after{
	content: '';
	height: 3px
	;width: 0;
	background: rgba(60,32,34,1);
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%;
}

.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: #dad3db;
	border-radius: 50%;
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: 100;
	padding: 5px;
}

h2{
	padding: 5px;
}

.box h5{
	font-size: 20px;
	font-weight: 100;
	padding: 5px;
}

ul{
	margin: 0;
	padding: 0;
}

.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: #dad3db;
	text-decoration: none;
	font-size: 30px;
}

p{
	padding: 5px;
	padding-bottom: 5px;
}

.example::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000B0E #000400;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #34191A;
  border-right: 16px solid #193433;
  border-bottom: 16px solid #34191A;
  border-left: 16px solid #193433;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  opacity: 0.75;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:0.5 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:0.5 }
}

#myDiv {
  display: none;
  text-align: center;
}

div {
  padding: 20px;
  border: 1px solid #34191A;
  border-opacity:0.5;
}
